body {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
      text-align: center;
      color: red;
  }
  .insta{
      float: right;
      margin-top: -60px;
  }
.snap{
    float: right;
    margin-right: 60px;
    margin-top: -60px;
}
.face{
    float: right;
    margin-right: 120px;
    margin-top: -60px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden ;
    background-color: rgb(0, 0, 0);
}
li{
    float: left;
    text-align: center;
  
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 25px ;
    font-size: 25px;
    text-decoration : none;
}

li a:hover{
    color: yellow;
}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.foto{
    margin-top: 80px;
    margin-left: 50px;
}
p{
    color: blackds;
    font-size: 20px;
}
h2{
    color:  yellow;
    font-size: 40px;
}
.article{
    margin-top: -450px;
    margin-left: 380px;
    width: 650px;
}
.hr{
    margin-top: 200px;
}
.img-2{
    float: right;
    border: 2px solid red;
    margin-top: 10px;
    margin-right: 10px;

}
h3{
    color: red;
    text-align: center;
    font-size: 20px;
}
.wrapper{
    margin-left: 50px;
}

ol li{
    list-style-type: none;
}
.gegevens{
    float: right;
    margin-top: 3%;
    margin-right: 30%;
    font-size: 30px;
    background-color: white;
    width: 50%;
}
.footer{
    text-align: center;
}
.projectpagina {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
#button-1{
    margin-top: 10%;
    margin-left: 29%;
}
.project-2 {
    float: left;
    margin-top: 15%;
    margin-left: -17%;
}

#button-2 {
    float: left;
    margin-top: 20%;
    margin-left: 2%;
}
.project-3 {
   float: right;
   margin-top: -7%;
   margin-right: 7%;
}
#button-3 {
    float: right;
    margin-right: 2%;
    margin-top: -1%;
}
.project-4 {
    float: right;
    margin-top: 15%;
    margin-right: -23%;
}
#button-4 {
    float: right;
    margin-top: 20%;
    margin-right: -3%;
}


input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: lightgray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
